.jumbotron {
    background-color: #512DA8;
}

h1 {
    color: aliceblue;
}

body {
    background-color: black;
}

h2 {
    color: aliceblue;
}

p {
    margin-top: 2rem;
    color: turquoise;
}

hr {
    background-color: #512DA8;
}

h3 {
    margin-top: 3rem;
    color: #512DA8;
}

img {
    margin-top: 2rem;
    width: 50%;
}

.footer {
    padding: 10px 10px 0 10px;
    background-color: #512DA8;
    margin-bottom: 0px;
    margin-top: 10px;
}

h4 {
    color: aliceblue;
}

h6 {
    color: aliceblue;
}

.columnas {
    flex: 1 150px;
    padding: 20px 10px 2px 6px;
    margin-top: 10px;
}